html {
  font-family: "Montserrat", sans-serif;
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aquamarine;
  margin: 25px;
}

#titulo  {
  background-color: lightskyblue;
  padding: 3rem 1.5rem;
  text-align: center;
}

#tema {
  font-size: 20px;
  text-align: center;
}

#problema {
  font-size: 20px;
  text-align: center;
}

#texto2 {
  font-size: 15.4px;
  text-align: justify;
  margin: 20px;
}

#subtitle2 {
  font-size: 20px;
  text-align: center;
}

.text3 {
  font-size: 15px;
  text-align: justify;
  background-color: turquoise;
  margin: 0.5cm;
  padding: 1rem;
  border: 1px solid black;
}

#subtitle3 {
  font-size: 20px;
  text-align: center;
}

#text4 {
  font-size: 15px;
  text-align: center;
}

#subtitle4 {
  font-size: 20px;
  text-align: center;
}

.text5 {
  font-size: 15px;
  text-align: justify;
}

.table {
  margin: 0 auto;
  background-size: 2rem;
  background-color: darkturquoise;
  border-radius: 0.5rem;
}

#texto-table {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-radius: 0.1rem;
}

.conteiner {
  width: 300px;
  margin: 0 auto;
  text-align: justify;
}

.subtitle1 {
  color: #000;
}

#Introduccion {
  text-align: center;
}

footer {
  background-color: seagreen;
  padding: 2rem;
  color: aqua;
}

footer section {
  float:inline-end;
}

footer p {
  margin: 0;
}

#comienzo {
  text-align: center;
}

footer a {
  transition: color 0.3s ease;
  color: blue;
  text-decoration: underline;
}

footer a:hover {
  color: chartreuse;
}
